@using ServiceStack.ServiceInterface.Auth
@*@inherits @ViewPage*@

<!doctype html>
<html lang="en-us">
<head>
    <title>@ViewBag.Title</title>
    <style type="text/css">
        body {
            background: #E6E6E6;
        }
    </style>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <link href="../Content/bootstrap-responsive.css" rel="stylesheet" />
</head>
    <body>
        @{
            var session = GetSession<AuthUserSession>();
            if(session.IsAuthenticated)
            {
                <div align="right" style="margin-right: 30px"><a href="/auth/logout">Sign Out</a></div>
            }
        }
        @RenderBody()
        
        <h6 style="font-size:12px; color: #999; position: fixed; bottom: -25px; right: 10px; text-shadow: 0px 2px 3px #fff;">
            Copyright - Effective Learning Technologies
        </h6>
    </body>
</html>