<link href="Content/forms.css" rel="stylesheet" />
@inherits ViewPage
@{
    ViewBag.Title = "Login";
}
<div class="container">
    <form id="login" action="/auth/credentials" class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
    <h6 style="font-size:12px; color: #999">
        Login as a Teacher or a parent
    </h6>
        <input id="inputUsername" type="text" name="username" class="input-block-level" placeholder="Username" />
        <input type="password" name="password" class="input-block-level" placeholder="Password" />
        <label class="checkbox">
            <input type="checkbox" value="remember-me">
            Remember me
        </label>
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
        <span style="margin-left: 5px">Don't have an id? </span><a href="/registration">Sign Up Now</a>
    </form>
</div>

<script src="Scripts/jquery-2.0.0.js"></script>
<script src="Scripts/bootstrap.js"></script>
<script type="text/javascript">
    $(function () {
        $("#inputUsername").focus();
        $("#login").submit(function () {
            var url = $("#login").attr("action");
            $.post(url, $("#login").serialize(),
                function () {
                    window.location.replace("/dashboard");
                });
            return false;
        });
    });
</script>
