<link href="Content/forms.css" rel="stylesheet" />
@inherits ViewPage

@{
    ViewBag.Title = "Register";
}

<form id="registration" action="/register" class="form-signin">
<h1 class="form-signin-heading">Register</h1>
    <input type="text" name ="firstname" placeholder="First Name"/>
    <input type="text" name ="lastname" placeholder="Last Name"/>
    <input type="text" name="email" placeholder="Email Id"/>
    <input type="text" name="username" placeholder="UserName"/>
    <input type="password" name="password" placeholder="Password"/>
    <button class="btn btn-large btn-primary" type="submit">Register</button><a href="/home" style="margin-left: 30px">Go Back</a>
</form>

<script src="Scripts/jquery-2.0.0.js"></script>
<script src="Scripts/bootstrap.js"></script>
<script type="text/javascript">
    $(function() {
        $("#registration").submit(function () {
            var url = $("#registration").attr("action");
            $.post(url, $("#registration").serialize(),
                function (data) {
                    alert(JSON.stringify(data));
                });
            return false;
        });
    });
</script>